<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: tab === ''}"><a href="#" ng-click="tab = ''">Home</a></li>
                <li ng-class="{active: tab === 'reunion'}""><a href="#reunion" ng-click="tab = 'reunion'">Family Reunion</a></li>
                <li><a href="https://goo.gl/forms/xNZVl1AAq8C52r5R2">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <div ng-if="!tab">
            <h1>Welcome Ragsdale Family</h1>
            <p>This is a site dedicated to serving our family, and providing information in a uniform place. While you are visiting, please take the time to <a href="https://goo.gl/forms/xNZVl1AAq8C52r5R2">RSVP and update your contact information</a> so that we can maintain an accurate record for the entire family.</p>
        </div>
        <div ng-if="tab == 'history'">
            <history></history>
        </div>
        <div ng-if="tab === 'reunion'">
            <reunion></reunion>
        </div>
    </div>
</div>

