<div class="jumbotron reunion">
    <h1>Ragsdale Family Reunion</h1>
    <p>This year's Ragsdale Family Reunion will be held on June 10, 2018 at:</p>
    <p>Chesire Forest Clubhouse<br />
	   500 Cheshire Forest Clubhouse<br />
	   Chesapeake, VA 23322</p><br />

    <p>The event will be hosted by Margaret & Ruth's children - Mike, Mark, Barry & Mitch. The event will start at noon, please plan to bring a meat, side, and desert to share.</p>

    <p>Please <a href="https://goo.gl/forms/xNZVl1AAq8C52r5R2">RSVP</a> and share this information with your children/siblings. </p>
</div>