<div class="jumbotron reunion">
    <h1>Ragsdale Family Reunion</h1>
    <p>This year's Ragsdale Family Reunion will be held on June 11, 2017 at:</p>
    <p>Lunenburg Country Club<br />
	   1008 East 5th Avenue<br />
	   Kenbridge, Virginia 23944</p><br />

    <p>We will gather at Noon, and serve lunch at 1:30. Please plan to bring a meat, side, and desert to share.</p>

    <p>For any golfers, a nine-hole golf course is also available on-site.<br />
    Please share this information with your children and siblings.</p>
</div>