<div class="reunion">
    The 61st Ragsdale Family Reunion will be held on June 11, 2017 at: <br /><br />
    Lunenburg Country Club<br />
    1008 East 5th Avenue<br />
    Kenbridge, Virginia 23944<br /><br />

    We will gather at Noon, and serve lunch at 1:30 <br /><br />

    Plan to bring a meat, side, and desert to share.<br /><br />

    For any golfers, a nine-hole golf course is also available on-site.<br /><br />

    Please share this information with your children and siblings.
</div>
